/******* jQuery Coston Mission Theme  *******/
.ui-bar-d, .ui-page-d, .ui-content-d, {
  color: #171717;
}

.ui-bar-l, .ui-page-l, .ui-content-l, {
  color: #fff;
}

.header, .ui-header, .ui-bar-h {
  color:#171717;
  background-color: rgba(20,20,20,0.3);
  width: 100%;
  text-align: center;
}

.ui-page-c {
  color: #fff;
  background-color: transparent;
  height: 100%;
}

.footer, .ui-footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.ui-bar-f {
  /*display: flex;!important
  align-items: center;!important
  align-content: center;!important
  justify-content: space-between;!important*/
  color: #fff;
  position: fixed;!important
  bottom: 0;!important
  left: 0;!important
  height: 40px;!important
  padding: 0px 5%;!important
  vertical-align: middle;!important
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/****** Navigation ******/
.page-back {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: -35px;
  top: 0;
  background-color: rgba(20,20,20,0.3);
  height: 100%;
  width: 35px;
  transition: 0.4s;
}

.page-forward {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: -35px;
  top: 0;
  background-color: rgba(20,20,20,0.3);
  height: 100%;
  width: 35px;
  transition: 0.4s;
}

nav a {
  color: #fff;
  font-size: 26px;
  line-height: 100%;
  vertical-align: middle;
}
