/******* General *******/
header {
  color: #777;
}

main {
  color: #fff;
}

footer {
  color: #fff;
}

a {
  text-decoration: none;
}

:hover {
  text-decoration: none;
  cursor: pointer;
}

/****** Navigation ******/
.page-back {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(20,20,20,0.4);
  height: 100%;
  width: 35px;
}

.page-forward {
  right: 0;
  top: 0;
  background-color: rgba(20,20,20,0.4);
  height: 100%;
  width: 35px;
}

nav a {
  color: #fff;
  font-size: 26px;
  line-height: 100%;
  vertical-align: middle;
}
